.selects{
    max-width: 100%;
    display: flex;
    align-self: center;
    vertical-align: middle;
    justify-content: center;
    
}
.middle{
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-evenly;
}
.machines{
    flex :2;
}
.graph{
    display: flex;
    flex-shrink: 1;
    flex-basis: 400px;
    flex-grow: 2;
    width: 60%;
    align-self: center;
    margin-bottom: 2%;
    

    
       

}
.pie{
    
    
    align-content: center;
}
