html,body,#root,.app{
 
  

  
}


body {
  display: flex;
  flex-direction: column;
}
.header{
  background:linear-gradient(#dbf3fa,transparent);
  flex: 1 1 300px;
  display: flex;
  align-content: center;
  justify-content: center;
  
}
.header::before{
  content: '';
  background-color: blue;
  display: flex;
  align-self: center;

}
.image{
  max-width: 100%;
  display: flex;
  align-self: center;
  
}
.buttonsMainScreen{
    
  flex:  1 1 300px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-content: center;
}
.cima{
  
  
  width: 100%;
  height: 500px;
}
.cima:before{
  content: '';
  height: 5800px;

}
.buttonsMainScreen button{
  margin-top: 2%;
  font-size: 130%;
  padding: 2% 2%;
  min-width: 30%;
  align-self: center;
}
.footer{
  
  flex: 1 1 100px;
  align-self: center;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items:center;
  

}
.button{
  display: flex;

  flex-direction: column;
  
}
.imageAmbev{
  position: relative;
  align-self: center;
  top: 10vh;
}
.W5Button{
  height: 40px;
  align-self: flex-end;
}

